__pycache__/
exp/
src/
samples/
test/
*.ckpt
*.pkl
*.py[cod]
.DS_Store
*.png
exps/
runs/
*.zip
.vscode-server
.bash_history
.cursor-server
.lesshst
.viminfo
.windsurf-server
.wget-hsts
./sfd-main/runs